<div class="gym-img">
<%= render "shared/navbar" %>
  <div class="title-home">
    <h1>C.O Fight Club</h1>
    <p>Campo Orique Brasilian Jiu-Jitsu Fight Club</p>
    <li class="btn btn-flat">
      <%= link_to "Our Classes!", services_path, class:"nav-link" %>
    </li>
  </div>
</div>
