<div class="gym-img">
  <%= render "shared/navbar" %>
  <div class="title-rest">
    <h1>Our Programs</h1>
  </div>

  <div class="d-flex justify-content-between">
    <div class="card-service">
    </div>
    <div class="card-service">
    </div>
    <div class="card-service">
    </div>
  </div>
</div>
