<div class="gym-img">
  <%= render "shared/navbar" %>
  <div class="title-rest">
    <h1>Our Professional Team</h1>
  </div>

  <div class="container mt-10">
    <div class="row justify-content-between align-items-center">
      <div class="col-4 text-center">
        <img class="rounded-circle mt-10" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
        <h2>Carlos</h2>
        <p><strong>Faixa Preta, 66 y/o.</strong></p>
      </div>
      <div class="col-4 text-center">
        <img class="rounded-circle mt-10" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
        <h2>Carlos</h2>
        <p><strong>Faixa Preta, 66 y/o.</strong></p>
      </div>
      <div class="col-4 text-center">
        <img class="rounded-circle mt-10" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
        <h2>Carlos</h2>
        <p><strong>Faixa Preta, 66 y/o.</strong></p>
      </div>
    </div>
  </div>
</div>
