<div class="gym-img">
  <%= render "shared/navbar" %>
  <div class="title-rest">
    <h1>Our Professional Team</h1>
  </div>

  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-sm">
        <img class="rounded-circle" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
        <h2>Carlos</h2>
        <p><strong>Faixa Preta, 66 y/o.</strong></p>
      </div>
      <div class="col-sm">
        <img class="rounded-circle" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
        <h2>Carlos</h2>
        <p><strong>Faixa Preta, 66 y/o.</strong></p>
      </div>
      <div class="col-sm">
        <img class="rounded-circle" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
        <h2>Carlos</h2>
        <p><strong>Faixa Preta, 66 y/o.</strong></p>
      </div>
    </div>
  </div>
</div>
