.container {
  background-color: rgba(252, 252, 252, 0.4);
  border-radius: 10px;
  height: 30vw;
  margin-top: 10px;
  padding-top: 10px;
}

.card-service {
  background-color: #2aa0c8;
  border-radius: 10px;
  width: 21vw;
  height: 28vw;
  margin: 35px;
}
