.title-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 109px;
  text-shadow: 1px 1px 1px rgb(51, 187, 233);
}

.title-home h1 {
  font-family: "Marko one";
  font-weight: 800;
}
